@model IEnumerable<OnlineStore.Models.Products>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edga" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Perfumes</title>
</head>
<body>
    @foreach (var products in Model)
    {
        <div>
            <h2>@products.ProductName</h2>
            <h3>@products.Price.ToString("c")</h3>
            <h4>@products.Category.Name</h4>
        </div>
    }
</body>
</html>